---
import { getCollection } from 'astro:content'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import sortCategories from '@/lib/util/sortCategories'
import PostCard from '@/components/PostCard.astro'

const categories = sortCategories(await getCollection('category'))

const posts = (await getCollection('post')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<BaseLayout>
  <Header isSticky={true} />
  <main class="mx-auto my-4 flex max-w-4xl flex-col gap-4 px-8 lg:px-0">
    {
      categories
        .map((category) => ({
          category,
          posts: posts.filter((post) => post.data.category.id === category.id),
        }))
        .map(({ category, posts }) => {
          return (
            <section>
              <h2 class="py-4">{category.data.name}</h2>
              {posts.length === 0 ? (
                <div>该分类暂无文章</div>
              ) : (
                <>
                  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                    {posts.map((post, index) => {
                      if (index > 6) {
                        return null
                      }
                      return (
                        <li
                          class:list={[
                            {
                              'col-span-1 md:col-span-2 lg:col-span-3': index === 0,
                              'col-span-1': index !== 0,
                            },
                          ]}
                        >
                          <PostCard
                            {post}
                            class:list={[
                              {
                                '[--figure-width:_100%] md:card-side md:[--figure-width:_18rem]': index === 0,
                              },
                            ]}
                          />
                        </li>
                      )
                    })}
                  </ul>
                  {posts.length > 6 && (
                    <a href={`/category/${category.id}`} class="block py-4 text-center">
                      查看更多
                    </a>
                  )}
                </>
              )}
            </section>
          )
        })
    }
  </main>
  <Footer />
</BaseLayout>
