---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import IconHome from '~icons/material-symbols/home'
---

<BaseLayout>
  <Header slot="header" />
  <main class="flex flex-1 flex-col items-center justify-center gap-4" slot="body">
    <p class="text-4xl font-bold">404 Not Found</p>
    <p>ShellWen 找不到你要的页面<br />也许你可以去首页逛逛？🤔</p>
    <a href="/">
      <button class="btn btn-soft btn-primary">
        <IconHome class="size-4" />
        回到首页
      </button>
    </a>
  </main>
  <Footer slot="footer" />
</BaseLayout>
