---
import { MdArrowForward } from 'react-icons/md'
import Text from './Text.astro'
import TextLarge from './TextLarge.astro'
---

<main class="min-h-[80vh] px-8 py-8 font-serif">
  <article class="mx-auto max-w-4xl">
    <Text>你好，</Text>
    <TextLarge>
      我是<strong>颉文</strong>，
    </TextLarge>
    <Text>
      一位高中生，
      <br />
      也是一名全栈开发者。
    </Text>
    <br />
    <Text class="text-base italic">
      年少的激情在代码中迸发，
      <br />
      每一行都是心灵的畅想。
      <br />
      代码是我创意的画笔，
      <br />
      用二进制描绘未来的图谱。
    </Text>
    <br />
    <a href="/about">
      <MdArrowForward className="inline-block" />
      关于我
    </a>
  </article>
</main>
