---
import { Icon } from 'astro-icon/components'
import Text from './Text.astro'
import TextLarge from './TextLarge.astro'
---

<main class="px-8 py-8 font-serif">
  <article class="mx-auto max-w-4xl">
    <Text>👋你好，</Text>
    <TextLarge>
      我是<strong>颉文</strong>，
    </TextLarge>
    <Text>
      一位开源狂热者，
      <br />
      也是一名全栈手艺人。
    </Text>
    <br />
    <Text class="text-base italic">#保持构建 #持续集成 #版本自由 #压测理想 #递归进化 #永远好奇</Text>
    <br />
    <a href="/about">
      <button class="btn btn-ghost">
        <Icon name="material-symbols:arrow-forward" />
        关于我
      </button>
    </a>
  </article>
</main>
