---
import IconAlternateEmail from '~icons/material-symbols/alternate-email'
import IconRssFeed from '~icons/material-symbols/rss-feed'
import IconDiscord from '~icons/simple-icons/discord'
import IconGithub from '~icons/simple-icons/github'
import IconQq from '~icons/simple-icons/qq'
import IconSteam from '~icons/simple-icons/steam'
import IconTwitter from '~icons/simple-icons/twitter'

const today = new Date()
const year = today.getFullYear()
---

<div
  class="w-full bg-neutral p-(--page-padding) text-neutral-content"
  transition:name="footer"
  transition:animate="none"
>
  <footer class="mx-auto max-w-(--page)">
    <div class="footer md:footer-horizontal">
      <nav>
        <header class="footer-title">联系方式</header>
        <div class="grid grid-flow-col gap-4">
          <a href="https://github.com/ShellWen" target="_blank">
            <span class="sr-only">在 GitHub 上关注我：@ShellWen</span>
            <IconGithub class="size-6" />
          </a>
          <a href="https://x.com/realShellWen" target="_blank">
            <span class="sr-only">在 Twitter 上关注我：@realShellWen</span>
            <IconTwitter class="size-6" />
          </a>
          <a href="https://discordapp.com/users/686031289534513225" target="_blank">
            <span class="sr-only">在 Discord 上找到我：@ShellWen</span>
            <IconDiscord class="size-6" />
          </a>
          <a href="https://steamcommunity.com/id/shellwen/" target="_blank">
            <span class="sr-only">在 Steam 上和我一起玩：@ShellWen</span>
            <IconSteam class="size-6" />
          </a>
          <a href="mailto:me@shellwen.com" target="_blank">
            <span class="sr-only">给我发 E-mail: me@shellwen.com</span>
            <IconAlternateEmail class="size-6" />
          </a>
          <a href="https://qm.qq.com/q/cKzp5dduM0" target="_blank">
            <span class="sr-only">添加我 QQ 好友: 3590398766</span>
            <IconQq class="size-6" />
          </a>
        </div>
      </nav>
      <nav class="">
        <header class="footer-title">声明</header>
        <span>
          GPG 密钥指纹：
          <a
            href="https://keys.openpgp.org/vks/v1/by-fingerprint/702F43996B585D7EA231633551AA58935AFE6617"
            target="_blank"
            rel="noreferrer"
            class="link font-mono">51AA 5893 5AFE 6617</a
          >
        </span>
        <br />
        <span>&copy; {year} ShellWen. All rights reserved.</span>
        <br />
        <span
          >本站源码位于 <a
            href="https://github.com/ShellWen/shellwens-things"
            target="_blank"
            rel="noreferrer"
            class="link">GitHub.com/ShellWen/shellwens-things</a
          >。</span
        >
      </nav>
      <nav>
        <header class="footer-title">Feed</header>
        <a href="/rss.xml">
          <span class="sr-only">RSS 订阅</span>
          <IconRssFeed class="size-6" />
        </a>
      </nav>
    </div>
    <div class="inline-block pt-4">
      <a href="https://note.glassfoxowo.com/" target="_blank" class="link no-underline">被驯服的狐狸玻狸🦊♥️🐻</a>
      {' | '}
      <a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer" class="link no-underline"
        >赣 ICP 备 2021003054 号-3</a
      >
    </div>
  </footer>
</div>
