---
import HeaderLink from './HeaderLink.astro'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'>

const { class: propClass, ...props } = Astro.props
---

<div
  class={`sticky top-0 z-50 flex flex-col items-center py-2 sm:py-4 px-(--page-padding) bg-base-100/80 backdrop-blur-sm ${propClass ?? ''}`}
  transition:name="header"
  transition:animate="none"
  {...props}
>
  <nav class="navbar flex-wrap gap-2 p-0 sm:max-w-(--page) sm:gap-0 sm:rounded-full">
    <h2 class="flex w-full flex-1 justify-center pt-2 text-xl sm:block sm:w-auto sm:pt-0">
      <a href="/" class="tracking-tighter">
        <span class="font-black">SHELLWEN</span>'s
      </a>
    </h2>
    <div class="flex w-full flex-none justify-center sm:block sm:w-auto">
      <ul class="menu menu-horizontal">
        <li>
          <HeaderLink href="/">首页</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/blog">文章</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/about">关于我</HeaderLink>
        </li>
      </ul>
    </div>
  </nav>
</div>
