---
import HeaderLink from './HeaderLink.astro'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'> & {
  isSticky?: boolean
}

const { isSticky = false, class: propClass, ...props } = Astro.props
---

<div
  class={`sticky top-0 z-50 flex flex-col items-center sm:pt-4 ${propClass ?? ''}`}
  class:list={[{ 'sm:fixed sm:w-full': !isSticky }]}
  transition:name="header"
  transition:animate="none"
  {...props}
>
  <nav
    class="navbar flex-wrap gap-2 bg-neutral py-2 text-neutral-content shadow-lg sm:max-w-xl sm:gap-0 sm:rounded-full sm:px-8 dark:shadow-none"
  >
    <h2 class="flex w-full flex-1 justify-center pt-2 text-xl sm:block sm:w-auto sm:pt-0">
      <a href="/">
        <strong>ShellWen</strong>'s Everything
      </a>
    </h2>
    <div class="flex w-full flex-none justify-center sm:block sm:w-auto">
      <ul class="menu menu-horizontal">
        <li>
          <HeaderLink href="/">首页</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/blog">文章</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/about">关于我</HeaderLink>
        </li>
      </ul>
    </div>
  </nav>
</div>
