---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts'

import BaseHead from '@/components/BaseHead.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title?: string
  description?: string
  image?: string | ImageMetadata
  children: unknown
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = undefined } = Astro.props
---

<!doctype html>
<html lang="zh">
  <head>
    <BaseHead {title} {description} {image} />
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col">
    <script>
      import { theme, type ThemeType } from '@/lib/store/theme'

      function updateTheme(theme: ThemeType) {
        if (theme.colorMode === 'dark') {
          document.body.classList.add('dark')
        } else {
          document.body.classList.remove('dark')
        }
        document.body.setAttribute('data-theme', theme.name)

        const themeColor = getComputedStyle(document.body).getPropertyValue('--color-neutral').trim()
        if (!/^oklch\(.*\)$/.test(themeColor)) {
          console.warn('The color value of --color-neutral must be in the oklch color space.')
          return
        }
        const metaThemeColor = document.querySelector('meta[name=theme-color]')
        if (metaThemeColor) {
          if (metaThemeColor.getAttribute('content') !== themeColor) {
            metaThemeColor.setAttribute('content', themeColor)
          }
        } else {
          const newMetaThemeColor = document.createElement('meta')
          newMetaThemeColor.setAttribute('name', 'theme-color')
          newMetaThemeColor.setAttribute('content', themeColor)
          document.head.appendChild(newMetaThemeColor)
        }
      }

      theme.subscribe((theme) => {
        updateTheme(theme)
      })

      const domContentLoadedListener = () => {
        updateTheme(theme.get())
      }

      document.addEventListener('astro:after-swap', domContentLoadedListener)

      if (import.meta.hot) {
        import.meta.hot.accept()
        import.meta.hot.dispose(() => {
          document.removeEventListener('astro:after-swap', domContentLoadedListener)
        })
      }
    </script>
    <script>
      if (import.meta.env.DEV) {
        const VConsole = (await import('vconsole')).default
        let instance = new VConsole()

        document.addEventListener('astro:after-swap', () => {
          instance.destroy()
          instance = new VConsole()
        })
      }
    </script>
    <slot name="header" />
    <div class="flex min-h-[50vh] flex-1 flex-col">
      <slot name="body" />
    </div>
    <slot name="footer" />
  </body>
</html>
